/node_modules
/public/hot
/public/storage
/public/images/uploads
/public/uploads/teacher_miras_resume
/public/uploads/*
/public/avatars
/public/ps_storage
/public/syllabuses
/public/audio/*
/public/webcamfiles/*
/public/entrance_exam/*
/public/syllabus_result_files/*
/storage/*.key
/storage/docxReplace/*.docx
/storage/images/*
/storage/debugbar/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
*.DS_Store
/.DS_Store
composer.lock
.htaccess
.htpasswd
_ide_helper.php
/public/transcripts
/storage/images/*
/public/avatars/*
package-lock.json
/public/upload/
/public/gendocuments/*
/storage/export/export_discipline_pay.csv
/storage/export/syllabus_docs.csv
/storage/export/export_sumpay_for_discount.csv
/storage/export/export_users_discipline_test.csv
/storage/export/exam_sheets/*
/storage/export/export_pay_by_semester.csv
/storage/export/archive_student_discipline_report.csv
/storage/import/import_users_rating_2015_report.csv
/storage/import/import_users_rating_2016_report.csv
/storage/import/import_users_rating_2017_report.csv
/storage/import/import_users_rating_2018_report.csv
/storage/import/custom_rating_1_report.csv
/storage/import/custom_rating_2_report.csv
/storage/import/custom_rating_3_report.csv
/storage/import/custom_rating_4_report.csv
/storage/import/custom_rating_5_report.csv
/storage/import/group_set_null_1_report.csv
/storage/import/group_set_null_2_report.csv
/storage/import/import_study_group_teacher_1_report.csv
/storage/import/import_study_group_teacher_2_report.csv
/storage/import/import_study_group_teacher_3_report.csv
/storage/import/set_order_users_report.csv
/storage/import/unset_order_users_report.csv
/storage/import/visit_generate_report.csv
/storage/import/fix_submodule_semester_2_report.csv
/storage/import/update_student_params.csv
/storage/import/fix_groups_report.csv
/storage/import/mass_pay_disciplines_report.csv
/storage/import/mass_pay_disciplines_report_clear.csv
/storage/export/archive_student_discipline_report.csv
/storage/import/import_migrated_rating_report.csv
/storage/import/fix_final_f_report_1.csv
/storage/import/fix_final_f_report_2.csv
/storage/export/fix_archive_submodules.csv
/storage/import/import_users_rating_2015-2017_report.csv
/storage/import/updated_fix_archive_submodules.csv
/storage/export/fix_zero_pays.csv
/storage/import/recovery_discipline_migrated_report.csv
/storage/import/buy_disciplines_set_rating_report_1.csv
/storage/import/buy_disciplines_set_rating_report_2.csv
/storage/import/buy_disciplines_set_rating_report_3.csv
/storage/import/to_balance_after_1c_bug_report.csv
/storage/import/disciplines_pay_part_report.csv
/storage/photos
/storage/import/import_student_files_1_report.csv
/storage/import/import_student_files_2_report.csv
/storage/import_student_files
/storage/import/remote_access_pay_report.csv
/storage/export/sro_week_problems.csv
*.mp4
*.mov
*.webm
*.ogg
/nbproject/private/
